.Page1{
    display: block;
    margin: 0 auto;
}


.Page2{
    display: block;
    margin: 0 auto;
}


.Page3{
    display: block;
    margin: 0 auto;
}


.Page4{
    display: block;
    margin: 0 auto;
}

.Page5{
    display: block;
    margin: 0 auto;
}

.Page6{
    display: block;
    margin: 0 auto;
}


.Page7{
    display: block;
    margin: 0 auto;
}


figure{

text-align: center;
size: 5cm;
}
